.cd-scroll-down {
  display: inline-block;
  overflow: hidden;
  position: absolute;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  bottom: 20px;
  width: 103px;
  height: 60px;
  text-align: center;
  cursor: auto;
  @media (max-width: 1440px) {
    bottom: 100px;
  }
  @media (max-width: 900px) {
    bottom: 35px;
  }
  @media (max-width: 550px) {
    bottom: 5%;
    height: 80px;
  }
}

.cd-scroll-down-text {
  width: 103px;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #FFFFFF;
  text-indent: initial !important;
  z-index: 20;
  cursor: pointer;
}

.cd-scroll-down::after {
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  bottom: 0;
  transform: translateX(-50%);
  width: 38px;
  height: 44px;
  background: url("../img/mouse.svg") no-repeat center center;
  cursor: pointer;
}






//

/* No Touch devices */
.cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 16%;
  top: 35%;
  bottom: auto;
  transform: translateY(-50%);
  z-index: 6;
  @media (max-width: 1440px) {
    right: 4%;
  }
  @media (max-width: 900px) {
    display: none;
  }
}
.no-touch #cd-vertical-nav li {
  text-align: right;
}
.no-touch #cd-vertical-nav a {
  display: inline-block;

  backface-visibility: hidden;
}
.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  transform: scale(0.7);
  margin-bottom: 10px;
}
.no-touch #cd-vertical-nav a:hover span {
  transform: scale(1);
}
.no-touch #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
}



.no-touch #cd-vertical-nav a.is-selected  #dot-one{
  background-color: rgb(230, 214, 214);
  transform: scale(1.3);
  opacity: 1;
  border: none;
}
.no-touch #cd-vertical-nav a.is-selected  #dot-two{
  background-color: #886BD9;
  transform: scale(1.3);
  opacity: 1;
  border: none;
}
.no-touch #cd-vertical-nav a.is-selected  #dot-three{
  background-color: #BB6BD9;
  transform: scale(1.3);
  opacity: 1;
  border: none;
}
.no-touch #cd-vertical-nav a.is-selected  #dot-fore{
  background-color: rgb(230, 214, 214);
  transform: scale(1.3);
  opacity: 1;
  border: none;
}




.no-touch #cd-vertical-nav .cd-dot {
  position: relative;
  top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #251b1b00;
  transition: transform 0.2s, background-color 0.5s;
  transform-origin: 50% 50%;
  opacity: 0.24;
  border: 2px solid #FFFFFF;
}

#cd-vertical-nav #dot-one:hover {
  background-color: #fff;
}
#cd-vertical-nav #dot-two:hover {
  background-color: #886BD9;
}
#cd-vertical-nav #dot-three:hover {
  background-color: #BB6BD9;
}
#cd-vertical-nav #dot-fore:hover {
  background-color: #fff;
}

.no-touch #cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  color: white;
  font-size: 14px;
  font-size: 0.875rem;

  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;

  transform-origin: 100% 50%;
}








/* Touch devices */
.touch .cd-nav-trigger {
  // display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.9);
}

.touch .cd-nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #3e3947;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
}
.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}
.touch .cd-nav-trigger span::before {
  top: -9px;
}
.touch .cd-nav-trigger span::after {
  bottom: -9px;
}

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;

  transform-origin: right bottom;

  transform: scale(0);

  transition-property: transform;

  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9);
}
.touch #cd-vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}
.touch #cd-vertical-nav a span:first-child {
  display: none;
}
.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #f71008;
}
.touch #cd-vertical-nav.open {
  transform: scale(1);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger {
  background-color: transparent;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before, .touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::before {
  transform: rotate(45deg);
  top: 1px;
}
.touch #cd-vertical-nav.open + .cd-nav-trigger span::after {
  transform: rotate(135deg);
  bottom: 0;
}
.touch #cd-vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px;
  }
}

#cd-vertical-nav {
  position: relative;
  right: 15%;
}
#cd-vertical-nav:after {
  content: '';
  position: absolute;
  width: 3px;
  height: 80px;
  background-color: #fff;
  top: -100%;
  right: 4px;
  transform: translateX(-50%);
  opacity: 0.24;
}
#cd-vertical-nav:before {
  content: '';
  position: absolute;
  width: 3px;
  height: 80px;
  background-color: #fff;
  top: 115%;
  right: 4px;
  transform: translateX(-50%);
  opacity: 0.24;
}

