.header {
    width: 100%;
    height: 80px;
    background-color: #28282800;
    padding: 30px 0px 25px 0px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}


.logo__wrap {
    min-width: 228px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 88px;
    text-decoration: none;
    h2 {
    margin-left: 15.5px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    }
    @media (max-width: 900px) {
        display: flex;
        margin-left: auto;
        margin-right: 50px;
    }
    @media (max-width: 370px) {
        transform: scale(.8);
        margin-right: 30px;
        margin-right: auto;
        margin-left: 0;
    }
    img {
        @media (max-width: 370px) {
            transform: scale(1.3);
            // align-self: center;
        }
    }
}

.burger-logo {
    display: none;
}

.header__inner {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1440px) {
        padding-left: 36px;
        padding-right: 36px;
    }
    @media (max-width: 800px) {
        padding-left: 16px;
        padding-right: 16px;
    }
    @media (max-width: 800px) {
        // height: auto;
        align-items: end;
        display: flex;
    align-items: center;
    justify-content: space-between;
    }
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    @media (max-width: 900px) {
        padding-top: 48px;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 80px;
        left: 0;
        align-items: start;
        background-color: #282828;
        display: none;
    }
}


.nav__linklist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 480px;
    width: 480px;
    @media (max-width: 900px) {
        width: 100%;
        padding-left: 18px;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        background-color: #282828;
    } li {
        @media (max-width: 900px) {
            margin-bottom: 40px;
        }
    }
}


.nav__links {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    transition: .5s;
    cursor: pointer;
}

.nav__links-active {
    color: #BB6BD9;
}



.nav__links:hover {
    color: #BB6BD9;
}

.header__contant {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__phone {
    @media (max-width: 1225px) {
        display: none;
    }
    @media (max-width: 1225px) {
        display: block;
        position: absolute;
        width: 250px;
        left: 16px;
        bottom: 0;
        display: none;
    }
    a {
    margin-right: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #fff;
    text-decoration: none;
    transition: .5s;
    }
    span {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 18px;
        color: #fff;
        transition: .5s;
    }
}

.header__phone:hover {
    a {
    color: #BB6BD9;
    }
    span {
    color: #BB6BD9;
    }
}

.header__buy-icon {
    cursor: pointer;
    position: relative;
    @media (max-width: 900px) {
        position: absolute;
        right: 33px;
        transform: scale(1.3);
    }
    @media (max-width: 450px) {
        position: absolute;
        right: 33px;
        top: 34px;
        transform: scale(1);
    }
}

.header-buy-count {
    position: absolute;
    bottom: 50%;
    left: 50%;
    font-weight: bold;
    font-size: 12px;
    line-height: 8px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-circle-buy-count {
    content: '';
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    background-color: #EB5757;
    border-radius: 50%;
    span {
        position: absolute;
        bottom: 8%;
        left: 50%;
        transform: translate(-49%, -47%);
        font-weight: bold;
        font-size: 12px;
        line-height: 8px;
        letter-spacing: 0.15px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.header-burder {
    display: none;
    @media (max-width: 900px) {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        width: 30px;
        height: 30px;
        z-index: 0;
    }
    @media (max-width: 320px) {
        align-self: end;
    }
}

.header-burder-close {
    cursor: pointer;
    display: none;
    @media (max-width: 900px) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 30px;
        height: 30px;
        display: block;
        transform: scale(.7);
        display: none;
    }
}

.header-burder-open {
    display: none;
    cursor: pointer;
    @media (max-width: 900px) {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 30px;
        height: 30px;
        display: flex;
    }
    @media (max-width: 320px) {
        transform: scale(.9);
    }
}




#form input:focus {
        border: 1px solid #828282;
}
#form textarea:focus {
        border: 1px solid #828282;
}
