.about {
  position: relative;
  min-height: 820px;
  max-height: 100%;
  background-color: #282828;
  @media (max-width: 1024px) {
    height: 100vh;
  }
}


.about__inner {
  padding: 120px 100px 100px 100px;
  @media (max-width: 1024px) {
    padding: 90px 50px 50px 50px;
  }
  @media (max-width: 800px) {
    padding: 90px 20px 20px 20px;
  }
  @media (max-width: 650px) {
    padding: 90px 16px 16px 16px;
  }
}

.about__content-top {
  @media (max-width: 850px) {
    width: 100%;
  }
  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #828282;
    @media (max-width: 850px) {
      font-size: 12px;
      line-height: 18px
    }
  }
  h2 {
    margin-bottom: 40px;
    width: 730px;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 2px;
    color: #FFFFFF;
    @media (max-width: 1450px) {
      width: 80%;
    }
    @media (max-width: 850px) {
      margin-bottom: 20px;
      margin-top: 14px;
      font-size: 36px;
      width: 100%;
      line-height: 44px;
    }
    @media (max-width: 550px) {
      font-size: 28px;
      line-height: 34px;
    }
  }
  span {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 2px;
    color: #886BD9;
    white-space: nowrap;
    @media (max-width: 50px) {
      font-size: 36px;
      width: 100%;
      line-height: 44px;
    }
    @media (max-width: 770px) {
      font-size: 28px;
      line-height: 34px;
    }
    @media (max-width: 450px) {
      font-size: 28px;
      line-height: 34px;
      white-space: normal;
    }
  }
}

.about__content-top .about-text-down {
  margin-bottom: 15px;
  width: 351px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  @media (max-width: 850px) {
    width: 100%;
    font-size: 14px;
  }
  @media (max-width: 650px) {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    max-width: 300px;
    white-space: normal;
  }
}

.about__content-bottom {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 759px;
  height: 378px;
  @media (max-width: 850px) {
    margin: 0 auto;
    width: 100%;
    ont-size: 14px;
  }
  @media (max-width: 650px) {
    flex-direction: column;
    height: 100%;
  }
}
.about__content-bottom::after {
  content: '';
  position: absolute;
  background: url(../img/about-chest.svg) no-repeat;
  top: 0;left: 0;
  width: 759px;
  height: 378px;
  @media (max-width: 850px) {
    display: none;
  }
}
.about__content-bottom::before {
  content: '';
  position: absolute;
  background: url(../img/ellipse.svg) no-repeat;
  top: 50%;left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 520px;
  height: 520px;
  @media (max-width: 850px) {
    display: none;
  }

}

.about__content-card {
    display: flex;
    align-items: center;
    padding-left: 58px;
    max-width: 50%;
    max-height: 189px;
    width: 49%;
    height: 50%;
  img {
    margin-right: 16px;
  }
  @media (max-width: 650px) {
    min-width: 60%;
    height: 80px;
    margin: 0 auto;
    padding: 0;
  }
  @media (max-width: 550px) {
    min-width: 300px;
  }
}

.about__content-card-wrap {
  display: flex;
  align-items: center;
  img {
    @media (max-width: 550px) {
      transform: scale(.7);
    }
  }
}

.about__content-card-text {

  h3 {
    width: 95px;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    @media (max-width: 650px) {
      width: 100%;
    }
  }
  p {
    font-weight: 800;
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #828282;
  }
}

.about .container {
  position: relative;
  @media (max-width: 1024px) {
    position: initial;
  }
}

.about .container:before {
  position: absolute;
  content: '';
  width: 202px;
  height: 147px;
  bottom: 0;
  left: 0%;
  background: url(../img/01.svg) no-repeat;
  @media (max-width: 450px) {
    transform: scale(.6);
    bottom: -30px;
    left: -10%;
  }
  @media (max-width: 320px) {
    transform: scale(.6);
    bottom: -30px;
    left: -13%;
  }
}