.best {
  position: relative;
  min-height: 820px;
  max-height: 100%;
  background-color: #282828;
  z-index: 0;
}

.best .container {
  position: relative;
}


.best .container::before {
  position: absolute;
  content: '';
  width: 202px;
  height: 147px;
  bottom: 0;
  left: 0%;
  background: url(../img/02.svg) no-repeat;
  @media (max-width: 450px) {
    transform: scale(.6);
    bottom: -30px;
    left: -10%;
  }
  @media (max-width: 320px) {
    transform: scale(.6);
    bottom: -30px;
    left: -13%;
  }
}

.best::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0%;
  background: linear-gradient(252.52deg, #4F4F4F -12.68%, rgba(54, 54, 54, 0.4) 61.53%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: -1;
}

.best__inner {
  padding: 120px 100px 100px 100px;
  position: relative;
  width: 100%;
  height: 100%;
  height: 820px;
  z-index: 0;
  @media (max-width: 1024px) {
    padding: 90px 50px 50px 50px;
  }
  @media (max-width: 800px) {
    padding: 90px 20px 20px 20px;
  }
  @media (max-width: 650px) {
    padding: 90px 16px 16px 16px;
  }
}



.best__content-top {
  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #828282;
  }
  h2 {
    margin-bottom: 40px;
    width: 720px;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 2px;
    color: #FFFFFF;
    @media (max-width: 800px) {
      width: 100%;
      font-size: 36px;
      line-height: 46px;
    }
    @media (max-width: 500px) {
      font-size: 28px;
      line-height: 34px;
    }
  }
}


.best__bestlist {
  @media (max-width: 600px) {
    margin: 0 auto;
    width: 70%;
  }
  @media (max-width: 500px) {
    margin: 0 auto;
    width: 90%;
  }
  @media (max-width: 400px) {
    margin: 0 auto;
    width: 100%;
  }
  h2 {
    padding-right: 30px;
    padding-bottom: 20px;
    position: relative;
    padding-left: 10px;
    display: inline-block;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.6px;
    background: linear-gradient(110.2deg, #886BD9 -6.47%, #A84DDC 111.04%);
    color: #FFFFFF;
    @media (max-width: 1000px) {
      font-size: 30px;
      line-height: 30px;
      padding-bottom: 10px;
    }
    @media (max-width: 850px) {
      font-size: 24px;
      line-height: 28px;
    }
    @media (max-width: 650px) {
      font-size: 16px;
      line-height: 32px;
    }
    @media (max-width: 600px) {
      display: block;
    }
    @media (max-width: 600px) {
      padding-right: 20px;
      padding-bottom: 5px;
      width: fit-content;
      margin-bottom: 8px;
      // width: 40%;
    }

  }
  p {
    padding-left: 10px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 34px;
    align-items: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #828282;
    @media (max-width: 1450px) {
      width: 70%;
  }
  @media (max-width: 1000px) {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
    width: 80%;
  }
  @media (max-width: 850px) {
    font-size: 14px;
    line-height: 20px;
  }
  @media (max-width: 650px) {
    font-size: 12px;
    line-height: 18px;
    width: 280px;
  }

  }
  span {
    padding-right: 5px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #BB6BD9;
    @media (max-width: 1000px) {
      font-size: 16px;
      line-height: 24px;
    }
    @media (max-width: 850px) {
      font-size: 14px;
      line-height: 20px;
    }
    @media (max-width: 650px) {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.best__bestlist li {
  margin-bottom: 56px;
  @media (max-width: 650px) {
    margin-bottom: 32px;
  }
}

.best__bestlist h2::before {
  content: '';
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 4px;
  background: url(../img/Line.svg) no-repeat;
  @media (max-width: 650px) {
    width: 12px;
    height: 2px;
    left: -20px;
  }
}

.best__bestlist > li:nth-child(1) {
  padding-left: 40px;
  @media (max-width: 600px) {
    padding-left: 0px;
    width: 90%;
  }
}
.best__bestlist > li:nth-child(2) {
  padding-left: 140px;
  @media (max-width: 600px) {
    padding-left: 0px;
    width: 100%;
  }
}
.best__bestlist > li:nth-child(3) {
  padding-left: 260px;
  @media (max-width: 600px) {
    padding-left: 10px;
    width: 100%;
  }
}
