#catalog {
  background-color: #3c3c3c;
}

.catalog__inner {
  min-height: 650px;
  padding: 56px 100px;
  padding-bottom: 0;
  position: relative;
  @media (max-width: 1450px) {
    padding: 26px 20px;
  }
  @media (max-width: 550px) {
    padding: 16px 16px;
  }
}

.catalog__content-title {
  position: relative;
  margin-bottom: 82px;
  @media (max-width: 1024px) {
    margin-bottom: 40px;
  }
  @media (max-width: 550px) {
    width: 288px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 2px;
    color: #ffffff;
    @media (max-width: 550px) {
      font-size: 28px;
      line-height: 34px;
    }
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #828282;
  }
}

.catalog .catalog__form {
  margin-bottom: 30px;
}

.catalog .catalog-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 550px) {
    width: 288px;
    margin: 0 auto;
  }
}


.catalog .catalog__number-item input {
  width: 134px;
}

.catalog__option-item {
  position: relative;
  @media (max-width: 800px) {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
  label {
    padding: 0 5px;
    position: absolute;
    top: -7px;
    left: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    background-color: #282828;
    color: #828282;
    transition: 0.7s;
    z-index: 20;
    @media (max-width: 800px) {
      left: 122px;
    }
  }
}

.catalog .input-form {
  width: 292px;
  height: 40px;
  appearance: none;
}

#number-item::-webkit-outer-spin-button,
#number-item::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#number-item[type="number"] {
  -moz-appearance: textfield;
}

#form-item::-webkit-outer-spin-button,
#form-item::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#form-item[type="number"] {
  -moz-appearance: textfield;
}
#form-item {
  @media (max-width: 1024px) {
    max-width: 226px;
  }
  @media (max-width: 800px) {
    width: 292px;
    max-width: 100%;
    margin: 0 auto;
  }
}

#number-item {
  @media (max-width: 1024px) {
    max-width: 86px;
  }
}

.catalog__form-filter {
  display: flex;
  align-items: center;
  @media (max-width: 800px) {
    position: absolute;
    right: 33px;
    top: 17%;
  }
  @media (max-width: 550px) {
    top: 7.5%;
    right: 8%;
  }
  label {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #ffffff;
    @media (max-width: 800px) {
      display: none;
    }
  }
  button {
    margin-left: 15px;
  }
}

.catalog .filter-btn {
  width: 40px;
  height: 40px;
  background: #bb6bd9;
  border: 1px solid #bb6bd9;
  box-sizing: border-box;
  border-radius: 48px;
  cursor: pointer;
  position: relative;
  outline: none;
  @media (max-width: 800px) {
    top: -108px;
    right: 197px;
  }
  @media (max-width: 550px) {
    position: absolute;
    top: 4px;
    right: 0;
  }
}

.catalog .filter-btn::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/filter.svg) no-repeat;
  cursor: pointer;
}

.catalog__card-wrap {
  max-height: 1460px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin: 0 auto;
  @media (max-width: 1450px) {
    max-width: 1300px;
  }
  @media (max-width: 1240px) {
    max-width: 925px;
  }
  @media (max-width: 1024px) {
    max-width: 1924px;
    max-height: 1151px;
  }
  @media (max-width: 970px) {
    max-width: 744px;
  }
  @media (max-width: 800px) {
    max-width: 492px;
  }
  @media (max-width: 550px) {
    max-width: 288px;
    justify-content: center;
    max-height: 1078px;
  }
}

.catalog__card-img-wrap {
  @media (max-width: 550px) {
    width: 256px;
    height: 221px;
  }
}

.catalog__card {
  text-decoration: none;
  width: 292px;
  height: 344px;
  margin-top: 32px;
  margin-bottom: 40px;
  margin: 10px 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: rgba(79, 79, 79, 0.48);
  border-radius: 8px;
  @media (max-width: 1024px) {
    width: 226px;
    height: 266px;
    margin: 10px;
  }
  @media (max-width: 550px) {
    width: 288px;
    height: 339px;
    margin: 10px 0;
    padding: 16px;
  }
}

.catalog__img-fon {
  position: relative;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  @media (max-width: 1024px) {
    width: 194px;
    height: 138px;
    margin: 0 0;
  }
  @media (max-width: 550px) {
    width: 256px;
    height: 211px;
    margin: 0 0;
  }
  img {
    width: 100%;
    @media (max-width: 1024px) {
      height: inherit;
    }
  }
}

.catalog__img-sale {
  bottom: 0;
  left: 0;
  width: 262px;
  height: 40px;
  display: flex;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: linear-gradient(91.58deg, #f2994a 8.5%, #bb6bd9 109.38%);
  @media (max-width: 1024px) {
    width: 100%;
    height: 32px;
  }
}

.catalog__card-price {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.2px;

  color: #ffffff;
  span {
    font-weight: 400;
  }
}

.catalog__card-name {
  width: 100%;
  height: 43px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  overflow: hidden;
  color: #ffffff;
  text-overflow: ellipsis;
}

.sale-on {
  display: flex;
}

.sale-off {
  display: none;
}

.catalog__artical {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 106px;
  height: 24px;
  background: #282828;
  border-radius: 24px;
  text-align: center;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.checkselect-category, .checkselect-number {
  margin-right: 24px;
  @media (max-width: 1025px) {
    margin-bottom: 0;
    margin-right: 0px;
    margin-top: 0;
  }
}



.select-filter-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  @media (max-width: 800px) {
    margin-bottom: 24px;
    width: 247px;
  }
  P {
    align-items: center;
    margin-right: 24px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #ffffff;
    // @media (max-width: 800px) {
    //   min-width: 124px;
    //   margin-right: 24px;
    //   padding-left: 10px;
    // }
    @media (max-width: 800px) {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: #FFFFFF;
      margin-right: 0;
      padding-left: 10px;
    }
  }
}

.checkselect-category,
.checkselect-number {
  width: 134px;
  height: 40px;
  font-size: 14px;
  padding: 9px 53px 9px 20px;
  display: inline-block;
  background-color: #fff;
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  color: #000000;
  text-align: left;
  line-height: 20px;
  letter-spacing: 0.2px;
  border-radius: 24px;
  outline: none;
  color: #ffffff;
  background: rgba(40, 40, 40, 0.4);
  position: relative;
  transition: 0.3s;
  border: 1px solid #4f4f4f;
  appearance: none;
  z-index: 50;
  img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
  }
  @media (max-width: 1300px) {
    // margin-bottom: 19px;
  }
  @media (max-width: 1024px) {
    margin-bottom: 0px;
  }
  @media (max-width: 774px) {
    width: 100%;
    max-width: 521px;
    order: 2;
    margin-top: 20px;
  }
  @media (max-width: 540px) {
    max-width: 302px;
  }
}

.checkselect-number {
  @media (max-width: 1024px) {
    width: 86px;
    margin-top: 0;
    margin-right: 24px;
  }
}




.checkselect-category,
.select-filter-category {
  width: 289px;
  z-index: 2;
  @media (max-width: 1024px) {
    width: 226px;
  }
  @media (max-width: 800px) {
    margin-top: 0;
    width: 100%;
  }
}

.checkselect-category:hover,
.checkselect-number:hover {
  background-color: #e9f2ff00;
}

.checkselect-number-select,
.checkselect-category-select {
  cursor: pointer;
  display: block;
  width: 100%;
}

.checkselect-category-select > i,
.checkselect-number-select > i {
  font-size: 14px;
  color: #888;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 20px;
  width: 100%;
}

.checkselect-category:focus,
.checkselect-number:focus {
  border: 1px solid #828282;
}

.checkselect-category.active + img,
.checkselect-number.active + img {
  transform: rotate(180deg);
}

.arrow-select.active {
  transform: rotate(180deg);
}

.dropdown:active {
  background-color: rgba(255, 255, 255, 0);
}

.checkselect-category.active:hover,
.checkselect-category.active,
.checkselect-number.active:hover,
.checkselect-number.active {
  background-color: rgba(133, 9, 9, 0);
}

.checkselect-category.active .select > i,
.checkselect-number.active .select > i {
  transform: rotate(-90deg);
}

.checkselect-category .dropdown-menu,
.checkselect-number .dropdown-menu {
  width: 100%;
  max-height: 120px;
  position: absolute;
  background-color: #3f3f3f;
  top: 42px;
  left: 0;
  margin-top: 0px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px 8px 15px 15px;
  overflow: hidden;
  display: none;
  overflow-y: auto;
  z-index: 500;
  overflow: auto;
}

.dropdown-menu::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 3px;
  background-color: rgba(247, 11, 11, 0);
  color: #000000;
  right: 5px;
  padding: 4px 0;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #828282;
  -webkit-box-shadow: 0 0 1px #828282;
  position: absolute;
}

.checkselect-category .dropdown-menu li,
.checkselect-number .dropdown-menu li {
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.checkselect-category .dropdown-menu,
.checkselect-number .dropdown-menu {
  padding: 0;
  list-style: none;
}
.checkselect-category .dropdown-menu li:hover,
.checkselect-number .dropdown-menu li:hover {
  background-color: #4f4f4f;
}
.checkselect-category .dropdown-menu li:active,
.checkselect-number .dropdown-menu li:active {
  background-color: #4f4f4f;
  color: #fff;
}

.checkselect-category-text {
  position: absolute;
  top: -9px;
  left: 34px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #828282;
  background-color: #3a3838b4;
  opacity: 0;
}

.checkselect-category-text.active {
  opacity: 1;
}


.catalog__form-item-wrap {
  display: flex;
  @media (max-width: 800px) {
    flex-direction: column;
    width: 288px;
  }
}

.catalog__number-item {
  margin-right: 24px;
  @media (max-width: 800px) {
    width: 282px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  @media (max-width: 550px) {
    width: 215px;
    margin: 0 0;
    margin-right: auto;
  }
  label {
    margin-right: 34px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #ffffff;
    z-index: 20;
    @media (max-width: 550px) {
      margin-right: 14px;
      font-size: 12px;
      line-height: 18px;
      align-items: center;
      display: flex;
    }
  }
}