.works {
  width: 100%;
  height: 100%;
  margin-bottom: auto;
  position: relative;
}

.works__inner {
  min-height: 650px;
  padding: 56px 100px;
  padding-bottom: 0;
  @media (max-width: 1450px) {
    padding: 26px 20px;
  }
  @media (max-width: 1000px) {
    padding: 16px 16px;
    padding-top: 48px;
  }
}

.works__content {
  position: relative;
}

.works__content-title {
  margin-bottom: 47px;
  @media (max-width: 1000px) {
    width: 351px;
    margin: 0 auto;
    margin-bottom: 90px;
    padding: 0 24px;
  }
  @media (max-width: 320px) {
    padding: 0 0px;
  }

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 2px;
    color: #ffffff;
    @media (max-width: 1000px) {
      font-size: 36px;
      line-height: 44px;
    }
    @media (max-width: 1000px) {
      font-size: 28px;
      line-height: 34px;
    }
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #828282;
  }
}

.works__slider {
  height: 377px;
  max-height: 377px;
  overflow: hidden;
  @media (max-width: 1300px) {
    height: 295px;
  }
  @media (max-width: 1000px) {
    height: 100%;
    max-height: 100%;
  }
}

.works__slider-table {
  max-width: 560px;
  width: 560px;
  color: #ffffff;
}

.works .works__slider-table {
  padding-top: 10px;
  margin-bottom: 24px;
  width: 100%;
  @media (max-width: 1300px) {
    width: 84%;
  }
  @media (max-width: 1160px) {
    padding-top: 0px;
  }
  @media (max-width: 1000px) {
    margin-top: 40px;
  }
}

.works .works__slider-table-link {
  p {
    margin-right: 15px;
    @media (max-width: 1160px) {
      font-size: 12px;
      width: 70px;
    }
  }
  margin-top: 0;
  text-transform: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  @media (max-width: 1160px) {
    font-size: 12px;
  }
  span {
    height: auto;
    @media (max-width: 1160px) {
      font-size: 12px;
    }
  }
}

.works__slider {
  position: relative;
  min-height: 376px;
  @media (max-width: 1450px) {
    min-height: 300px;
  }
}

.works__slider-item {
  display: flex;
  @media (max-width: 1000px) {
    flex-direction: column-reverse;
    max-width: 351px;
    margin: 0 auto;
    overflow: hidden;
  }
  @media (max-width: 1000px) {
    max-width: 288px !important;
  }
  @media (max-width: 320px) {
    max-width: 288px !important;
  }
}

.works__slider-item-discription {
  margin-left: 24px;
  position: relative;
  width: 582px;
  max-width: 50%;
  display: flex;
  @media (max-width: 1300px) {
    width: 432px;
  }
  @media (max-width: 1000px) {
    margin-left: 0px;
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
    flex-direction: column;
  }
}

.works__slider-item-discription::before {
  content: "";
  position: absolute;
  height: 240px;
  width: 2px;
  background-color: #bb6bd9;
  left: -24px;
}

.works__slider-table-link {
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1000px) {
    margin-top: 40px;
  }
  p {
    width: 106px;
    margin-right: 50px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #ffffff;
  }
  span {
    text-align-last: left;
    margin-right: auto;
    height: 30px;
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #828282;
  }
}

.works__slider-table-link:last-child {
  p {
    min-width: 106px;
    align-self: start;
    @media (max-width: 1124px) {
      min-width: 70px;
    }
  }
  span {
    display: inline-block;
    height: auto;
  }
}

.works__slider-data {
  position: absolute;
  color: #ffffff;
  right: -32px;
  transform: rotate(270deg) translate(-50%, 0%);
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  span {
    margin-right: 5px;
    color: #828282;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 1px;
  }
}

.works__slider-item-img {
  margin-left: 24px;
}

.works__slider-img .slick-track {
  display: flex;
  align-items: baseline;
}
.works__slider .slick-track {
  display: flex;
  align-items: baseline;
}
.works__slider-img .slick-list {
  overflow: hidden;
  justify-content: flex-start;
  text-align: left;
}
.works__slider .slick-list {
  overflow: hidden;
  justify-content: flex-start;
  text-align: left;
}

.works__slider .slick-slider {
  display: flex;
}

.works__slider-img {
  position: relative;
  width: 608px;
  margin-left: 24px;
  overflow: hidden;
  display: block;
  max-height: 377px;
  height: 377px;
  @media (max-width: 1160px) {
    min-height: 294px;
  }
  @media (max-width: 1000px) {
    margin-left: 0px;
  }
  @media (max-width: 450px) {
    min-height: 288px;
  }
}

.works__slider-img-item {
  width: 450px;
  min-width: 1px;
  @media (max-width: 1250px) {
    width: 351px;
  }
  @media (max-width: 450px) {
    width: 288px;
  }
  @media (max-width: 1000px) {
    margin-bottom: 64px+24px;
  }
  img {
    border-radius: 8.5px;
  }
}

// .slick-current > .works__slider-img-item {
//   width: 450px;
//   height: 376px;
//   @media (max-width: 1250px) {
//     width: 351px;
//     height: 293px;
//   }
//   @media (max-width: 450px) {
//     width: 288px;
//     height: 240px;
//   }
// }

.works__slider-img .slick-slide.slick-current {
  img {
    width: 100%;
  }
}
.works__slider-img .slick-slide {
  margin-right: 48px;
  transition: 0.5s;
  img {
    width: 100%;
  }
}

.works__slider-img .slick-active {
  img {
    width: 100%;
  }
}

// .works__slider-img .slick-slide:first-child {
//   position: relative;
//   min-width: 450px;
//   img{
//     width: 450px;
//     height: 376px;
//     @media (max-width: 1250px) {
//       width: 351px;
//       height: 293px;
//     }
//     @media (max-width: 450px) {
//       width: 288px;
//       height: 240px;
//     }
//   }
// }

// .slick-slide + .slick-current {
//   img{
//     width: 450px;
//     height: 376px;
//     @media (max-width: 1250px) {
//       width: 351px;
//       height: 293px;
//     }
//     @media (max-width: 450px) {
//       width: 288px;
//       height: 240px;
//     }
//   }
// }
.slick-slide + .slick-current {
  img {
    width: 100px;
    height: 96px;
    @media (max-width: 1250px) {
      width: 351px;
      height: 293px;
    }
    @media (max-width: 450px) {
      width: 288px;
      height: 240px;
    }
  }
}

.works__slider-img .slick-slide:nth-child(2n) {
  img {
    width: 110px;
    height: 92px;
  }
}

.works__slider-img .slick-slide {
  img {
    width: 110px;
    height: 92px;
  }
}

.slick-current .slick-slide:nth-child(2n) {
  img {
    width: 450px !important;
    height: 376px !important;
  }
}
.slick-active .slick-slide:nth-child(2n) + .slick-current {
  img {
    width: 450px !important;
    height: 376px !important;
  }
}

// .works__slider-img .slick-slide{
//   img{
//     width: 450px;
//     height: 376px;
//   }
// }
.slick-slide {
  img {
    width: 110px;
    height: 92px;
    @media (max-width: 1250px) {
      width: 351px;
      height: 293px;
    }
    @media (max-width: 450px) {
      width: 288px;
      height: 240px;
    }
  }
}

.slick-current ~ .slick-slide > .works__slider-img-item {
  width: 100px !important;
  height: 100px !important;
  position: relative;
  img {
    width: 100px !important;
    height: 100px !important;
  }
}

.slick-slide > .works__slider-img-item {
  position: relative;
}
.works__slider-img .slick-slide:nth-child(2) {
  transform: translateX(-20%);
}

// .slick-slide .works__slider-img-item::before {
//   position: absolute;
//   content: '';
//   width: 100%;
//   height: 97%;
//   border-radius: 8px;
//   top: 0;
//   left: 0;
//   max-width: 110px;
//   background-color: rgba(0, 0, 0, 0.493);
//   z-index: 5;
// }

.slick-active > .works__slider-img-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  max-width: 110px;
  background-color: rgba(0, 0, 0, 0);
  z-index: -5;
}

.works__slider-img .slick-arrow {
  color: #82828200;
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0px;
  padding: 0;
  margin: -20;
  top: 0;
  left: 0;
  overflow: hidden;
  visibility: hidden;
  cursor: none;
}
.works__slider .slick-arrow {
  color: #82828200;
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0px;
  padding: 0;
  margin: -20;
  top: 0;
  left: 0;
  overflow: hidden;
  visibility: hidden;
  cursor: none;
}

.works__slider-img-arrow {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 40px;
  height: 104px;
  position: absolute;
  top: 0px;
  right: 10px;
  z-index: 500;
  @media (max-width: 1300px) {
    right: 24px;
  }
  @media (max-width: 1000px) {
    top: 254px;
    right: 42%;
    display: flex;
    flex-direction: row-reverse;
    width: 100px;
    height: 40px;
  }
}

.works__footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1450px) {
    margin-top: 56px;
  }
  @media (max-width: 1000px) {
    margin-top: 26px;
    margin: 0 auto;
  }
}

.works__footer .works__adress {
  @media (max-width: 1000px) {
    display: none;
  }
}
.works__slider-item-discription .works__adress {
  @media (min-width: 1000px) {
    display: none;
  }
}
.button-form-wrap {
  width: 430px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1450px) {
    width: 351px;
    margin-left: auto;
    margin-right: 58px;
  }
  @media (max-width: 1400px) {
    width: 351px;
    margin-left: 0;
    margin-right: 58px;
  }
  @media (max-width: 1000px) {
    margin: 0 auto;
    width: 288px;
    justify-content: space-between;
  }
}

.works .button-form > button-form-wrap {
  margin: 0 auto;
  width: 288px;
}

.works__footer {
  @media (max-width: 1000px) {
    width: 288px;
  }
}

.works__footer .button-form {
  @media (max-width: 1000px) {
    width: 288px;
  }
}

.works__adress {
  position: relative;
  padding-left: 40px;
  @media (max-width: 1000px) {
    width: 254px;
  }
  h2 {
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #ffffff;
    @media (max-width: 1000px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    color: #828282;
    @media (max-width: 1000px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.works__adress::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  top: 0;
  left: 0;
  background: url(../img/work/map.svg) no-repeat;
}

.works__slider-count {
  display: inline-block;
  max-width: 30px;
  font-weight: bold;
  font-size: 56px;
  color: #ffffff;
  @media (max-width: 1000px) {
    font-size: 28px;
    line-height: 34px;
  }
}

.works__slider-count-2 {
  font-size: 24px;
  display: inline-block;
  max-width: 30px;
  color: #828282;
  @media (max-width: 1000px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.button-form {
  width: 599px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1300px) {
    width: 504px;
  }
}

.button-form-wrap button {
  @media (max-width: 1450px) {
    width: 164px;
  }
  @media (max-width: 1450px) {
    width: 136px;
  }
}
.works-count {
  @media (max-width: 1000px) {
    position: absolute;
    top: 95px;
    left: 35%;
    transform: translateX(-45%);
  }
  @media (max-width: 550px) {
    position: absolute;
    top: 95px;
    left: 24%;
    transform: translateX(-45%);
  }
  @media (max-width: 400px) {
    position: absolute;
    top: 95px;
    left: 12%;
    transform: translateX(-45%);
  }
  @media (max-width: 320px) {
    position: absolute;
    top: 95px;
    left: 8%;
    transform: translateX(-45%);
  }
}

#slider {
  width: 608px;
  height: 376px;
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  margin: 0;
  margin-right: 24px;
  @media (max-width: 1300px) {
    width: 482px;
    height: 295px;
    margin-left: 24px;
    margin-right: 0;
  }
  @media (max-width: 1000px) {
    width: 482px;
    height: 317px;
    margin-left: 0px;
    margin-right: 0;
  }
}

.slider-item {
  height: 376px;
  display: flex;
  align-items: flex-end;
  transform: translateX(-120px);
  @media (max-width: 1300px) {
    height: 294px;
  }
  @media (max-width: 1000px) {
    height: 240px;
    transform: translateX(-124px);
  }
}

// .slider-item > .active ~ .active{
//   background-color: #fff !important;
//   @media (max-width: 1000px) {
//     transform: translate(-332px, 75px);
//     height: 294px;
//   }
// }

#slider ul li:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 8px;
  top: 0;
  right: 0;
  max-width: 110px;
  background-color: rgba(0, 0, 0, 0.493);
  transition: 0.5s;
  z-index: 5;
  opacity: 1;
}
#slider ul li.active:before {
  position: absolute;
  content: "";
  width: 570px;
  height: 376px;
  border-radius: 8px;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 5;
  opacity: 0;
  @media (max-width: 1300px) {
    width: 351px;
    height: 293px;
  }
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 5000px;
}

#slider ul li {
  margin: 0;
  margin-right: 24px;
  padding: 0;
  width: 110px;
  height: 92px;
  position: relative;
  display: block;
  float: left;
  background: #ccc;
  text-align: center;
  border-radius: 8px;
  transition: 0.7s;
  // transition: opacity .7s;

  @media (max-width: 1300px) {
    width: 77px;
    height: 64px;
    margin-right: 48px;
  }
  @media (max-width: 1300px) {
    width: 76px;
    height: 66px;
    margin-right: 48px;
  }
  @media (max-width: 1000px) {
    opacity: 0;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

a.control_prev,
a.control_next {
  padding: 4% 3%;
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
  opacity: 1;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  margin: 10px auto;
  position: relative;
  width: 160px;
  font-size: 18px;
}

.slider-item li.active {
  width: 450px !important;
  height: 376px !important;
  @media (max-width: 1300px) {
    width: 351px !important;
    height: 293px !important;
  }
  @media (max-width: 1000px) {
    width: 288px !important;
    height: 240px !important;
    opacity: 1 !important;
  }
}

// .slider-item li {
//   width: 100px;
//   height: 98px;
// }

.prevew {
  @media (max-width: 1000px) {
    transform: translate(-332px, 75px);
    opacity: 1 !important;
  }
}

.slick-arrow {
  display: none;
}
