

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
*{
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 1440px;
}




.fixed {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.rotate {
  transform: scale(1.5) rotateZ(180deg) !important;
}

.display-block {
  display: block;
}

.display-flex {
  opacity: 1 !important;
  visibility: visible !important;
  @media (max-width: 570px) {
    display: flex !important;
  }
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #282828;
}

.page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page .header {
  display: block;
  position: relative;
  background-color: #282828;
}

.catalog-item {
  width: 100%;
  height: 100%;
  margin-bottom: auto;
  // padding-top: 56px;
  position: relative;
  background-color: #3F3F3F;
}

.best {
  height: 800px;
  background-color: tomato;
}
.qustion {
  height: 800px;
  background-color: rgb(35, 44, 175);
}
.qustion {
  height: 100px;
  background-color: rgb(10, 11, 19);
}

.btn-simple {
  padding-left: 15px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 24px;
  outline: none;
  border: 1px solid #828282;
  color: #ffffff;
  background: rgba(40, 40, 40, 0.4);
}

.active-input {
  display: block !important;
  visibility: visible !important;
}

.btn {
  position: relative;
  cursor: pointer;
}

.btn-border {
  width: 213px;
  height: 40px;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #BB6BD9;
  background-color: #3f3f3f00;
  box-sizing: border-box;
  border-radius: 56px;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: .5s;
}

.btn-border:hover {
  background-color: #BB6BD9;
}
.btn-border:active {
  background-color: #A84DDC;
}

.btn-opacity {
  width: 189px;
  height: 40px;
  padding-left: 0px;
  background: rgba(187, 107, 217, 0.08);
  border-radius: 56px;
  border: none;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: .5s;
  color: #BB6BD9;
}

.btn-opacity:hover {
  background-color: #bc6bd900;
}
.btn-opacity:active {
  background: rgba(187, 107, 217, 0.08);
}

.btn-arrow-right {
  padding: 0;
  width: 40px !important;
  height: 40px !important;
  border: 1px solid #BB6BD9;
  border-radius: 50px;
  background: #d33f8e00;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
  position: relative;
}
.btn-arrow-left {
  padding: 0;
  width: 40px !important;
  height: 40px !important;
  border: 1px solid #BB6BD9;
  border-radius: 50px;
  background: #d33f8e00;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
  position: relative;
}

.btn-arrow-right::after {
  content: '';
    position: absolute;
    background: url(../img/arrow-btn-right.svg) no-repeat;
    width: 24px;
    height: 24px;
    top: 51%;
    left: 52%;
    transform: translateX(-50%) translateY(-50%);
  }
.btn-arrow-left::after {
  content: '';
    position: absolute;
    background: url(../img/arrow-left.svg) no-repeat;
    width: 17px;
    height: 17px;
    top: 50%;
    left: 48%;
    transform: translateX(-50%) translateY(-50%);
  }

.btn-arrow-right:hover {
  background-color: #BB6BD9;
}
.btn-arrow-right:active {
  background: #A84DDC;
}
.btn-arrow-left:hover {
  background-color: #BB6BD9;
}
.btn-arrow-left:active {
  background: #A84DDC;
}


.button-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}